{% load static %}
<!doctype html>
<html lang="en">


  <body>
  <table align="center"border="0"width="665">
      <tr>
          <th rowspan="2"style="background-color: limegreen">

  <a class="navbar-brand" href="#">
    <img src="{% static 'images/hr3.png' %}" width="100" height="50"style="background-color: lime" >
  </a>
          </th>

           <th style="background-color: deeppink;color: limegreen;text-align: center"colspan="5">GLOBAL HR MANAGEMENT</th>
      </tr>
      <tr >
          <th style="color:cyan;background-color:black;-ms-text-size-adjust: auto"colspan="5"><marquee>the harder you work the luckier you get</marquee></th>
      </tr>
      <tr style="background-color: lightpink" >

     <th>
        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only"></span></a>
      </th>
             <th><a class="nav-link" href="{% url 'addemp' %}">AddEmp</a></th>
             <th><a class="nav-link" href="{% url 'view_employee' %}">ViewEmp</a></th>
             <th><a class="nav-link" href="{% url 'update_emp' %}">UpdateEmp</a></th>
             <th><a class="nav-link" href="{% url 'delete_emp' %}">DeleteEmp</a></th>
             <th><a class="nav-link" href="{% url 'index' %}" >Logout</a></th>


      </tr>

  </table>
  {% block admin %}
  {% endblock %}
  </body>
</html>