{% extends "main.html" %}
{% block main %}<br>

        <table align="center"border="0"style="background-color: springgreen"width="400"height="200">
            <form action="{% url 'interviewerlog' %}"method="post">
                {% csrf_token %}
                <tr>
                <th>INTERVIEWER LOGIN PAGE</th>
                </tr>
                <tr>
                    <th>User name:
                <input type="text"placeholder="username"required name="user"></th>
                </tr>
                <tr>
                    <th>Password:
                        <input type="password"placeholder="password"required name="pas">
                    </th>
                </tr>
                <tr>
                    <th>
                        <button type="submit">Login</button>
                    </th>
                </tr>
            </form>
        {% for x in messages %}
            <tr>
                <th>{{ x }}</th>
            </tr>
        {% endfor %}

        </table>

{% endblock %}