{% extends "manager_main.html" %}
{% block manager %}
     <form action="#"method="post">
        {% csrf_token %}
        <table align="center"border="2"style="background-color: moccasin">
         <tr>
            <th>OPPERTUNITY CODE</th>
            <th>QUALIFICATION</th>
            <th>REGISTRATIONS START FROM</th>
            <th>AGE LIMIT</th>
            <th>LAST DATE TO APPLY</th>
            <th>DEPARTMENT ID</th>
            <th>NO OF POSITION</th>
            <th>DESCRIPTION</th>
            <th>RESPONSIBILITIES</th>
            <th>CONTACT NO</th>
         </tr>
            {% for x in object_list %}
                <tr>
                    <td> <input type="checkbox"name="d1"><a href="{% url 'redeletedata' x.oppcode %}" >{{ x.oppcode }}</a></td>
                    <td>{{ x.qualification }}</td>
                    <td>{{ x.regi_form }}</td>
                    <td>{{ x.age }}</td>
                    <td>{{ x.lastdob }}</td>
                    <td>{{ x.department }}</td>
                    <td>{{ x.positions }}</td>
                    <td>{{ x.description }}</td>
                    <td>{{ x.respon }}</td>
                    <td>{{ x.contactno }}</td>
                </tr>

            {% endfor %}
    </table>
    </form>
{% endblock %}