{% extends "admin_manu.html" %}
{% block admin %}<br><br>
    <table align="center"border="2"width="665"height="200"style="background-color: mistyrose">
    <tr>
        <th>EMP IDNO</th>
        <th>EMP NAME</th>
        <th>EMP SALARY</th>
        <th>EMP DESIGNATION</th>
    </tr>
    {% for x in object_list %}
        <tr>
            <td>{{ x.eidno }}</td>
            <td>{{ x.ename }}</td>
            <td>{{ x.esalary }}</td>
            <td>{{ x.edesignation }}</td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}